@import '../../data/Variables';
@font-face {
    font-family: iranSans;
    src: url('../../fonts/Iranian\ Sans.ttf');
}
@font-face {
    font-family: iranYekan;
    src: url('../../fonts/iranyekanwebregular.e31c09af.woff2');
}
body {
    font-family: iranSnas;
    font-size: 12px;
}
* {
    box-sizing: border-box;
    height: auto;
}
a {
    color: $link;
    text-decoration: none;
}