@import '../../data/Variables';
.card {
    width: 100%;
    background-color: white;
    border: 1px solid $products-card-border;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 0;
    .img {
        width: 65%;
        margin: 15px 0;
    }

    .infoBox {
        width: 100%;
        padding: 0 20px;
        .title {
            width: 100%;
            text-align: right;
        }
        .price {
            width: 100%;
            text-align: left;
            &::after {
                content: '  تومان';
            }
        }
    }

    transition: .2s;
    &:hover {
        z-index: 2;

        box-shadow: 0 0 7px $products-card-shadow;
        cursor: pointer;
    }
}