@import '../../data/Variables';
.button {
    background-color: $button-red;
    color: white;
    width: 100%;
    border-radius: $button-border-radios;
    height: $button-height;
    border: 0;
    font-weight: bold;
    &:hover {
        cursor: pointer;
    }
}