.wrapper {
    display: flex;
    justify-content: space-between;
    .right {
        display: inline-block;
        background-color: white;
        padding: 10px;
        border-radius: 12px;
    }
}