@import "../../data/Variables";

@font-face {
  font-family: iranSans;
  src: url("../../fonts/Iranian\ Sans.ttf");
}
body {
  direction: rtl;
  font-family: iranSans;
  font-size: 12px;
}
.container {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  gap: 1%;
  align-items: stretch;
}
.one {
  flex: 5%;
  align-self: center;
  .logo {
    background: url("../../images/logo.svg") no-repeat;
    background-size: contain;
    display: block;
    height: 33px;
    width: 118px;
  }
}
.two {
  flex: 63%;
  position: relative;
  .input:focus {
    outline: none;
    border: none;
  }
  margin-right: 10px;

  .input {
    background-color: $search-input-background;
    background-color: #f0f0f1;
    border: 0;
    border-radius: 10px;
    width: 63%;
    height: 45px;
    position: relative;
    text-indent: 60px;
  }
  .input::placeholder {
    color: $search-input-placeholder;
    font-family: iranSans;
    font-size: 12px;
  }
  .search {
    position: absolute;
    right: 12px;
    top: 12px;
    font-size: 22px;
    color: $search-input-icon;
  }
}
.three {
  flex: 30%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
  .signUp {
    text-decoration: none;
    border: 1px solid $search-input-placeholder;
    border-radius: 10px;
    padding: 0px 8px;
    display: inline-block;
    color: $search-input-placeholder;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    height: 100%;
    margin-left: 5px;
    .user {
      color: $icon;
      margin-left: 5px;
      font-size: 17px;
    }
  }
  .loggedIn {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    margin-left: 10px;
    .user {
      color: $icon;
      font-size: 20px;
    }
    .tic {
      color: $icon;
    }
    &:hover {
      cursor: pointer;
    }
    .extend {
      cursor: default;
      position: absolute;
      top: 39px;
      background-color: white;
      border: none;
      width: 230px;
      left: 0;
      border-radius: 10px;
      box-shadow: 0 1px 1px rgba(0 ,0, 0,  .14), 0 4px 8px rgba(0, 0, 0,  .30);
      padding: 3px 16px;
    }
    .item {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 11px;
      border-bottom: 1px solid $search-input-icon;
      .icon {
        font-size: 16px;
        color: $icon;
      }
      > span {
        font-size: 14px;
        text-align: center;
        padding: 12px 0;
        color: $icon;
        font-weight: bold;
      }
      .mainItem {
        padding: 23px 10px;
        cursor: default;
      }
      .mainIcon {
        font-size: 31px;
        color: $icon;
        cursor: default;
      }
      &.lastItem {
        border: 0;
      }
    }
  }
  .border {
    border-right: 1px solid $search-input-icon;
    height: 30px;
  }
  .cart {
    padding: 0px 15px;
    color: $icon;
    font-size: 20px;
    box-sizing: content-box;
  }
}
