@import "../../data/Variables";
.wrapper {
  height: 100vh;
  padding: 1px;
  .box {
    width: 385px;
    margin: 0 auto;
    display: block;
    margin-top: 10vh;
    border: 1px solid $login-border;
    border-radius: 12px;
    padding: 20px 30px;
    .logo {
      display: block;
      margin: 0 auto;
      margin-top: 20px;
      width: 140px;
    }
    .title {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      gap: 5px;
      font-size: 16px;
    }
    > p {
      font-size: 14px;
      color: $text-gray;
      line-height: 23px;
      margin-top: 30px;
    }
    .inputBox {
      margin-top: 27px;
      > input {
        direction: ltr;
        text-indent: 10px;
        width: 100%;
        display: block;
        margin: 0 auto;
        height: $button-height;
        border: 0;
        font-weight: normal;
        border-radius: $button-border-radios;
        outline: none;
        border: 1px solid $login-border;
        margin-top: 10px;
        color: $text-gray;
        &.error {
          border: 1px solid $login-input-error;
        }
        &:focus {
          border: 1px solid $link;
          caret-color: $link;
        }
      }
    }
    .checkbox {
      width: 15px !important;
      display: inline !important;
      & + span {
        position: relative;
        top: -17px;
        right: 5px;
      }
    }
    .errorMassage {
      margin-top: 10px;
      display: inline-block;
      font-weight: bold;
      color: $login-input-error;
    }
    > button {
      margin-top: 30px;
    }
    .agreement {
      font-size: 12px;
      margin-top: 22px;
    }
  }
}
