$article-background: #f5f5f5;

$search-input-background: #f0f0f1;
$search-input-icon: #c1c1c1;
$search-input-placeholder: #adadad;

$login-input-error: #d32f2f;

$login-border: #e0e0e2;

$button-red: #ef4056;
$button-border-radios: 8px;
$button-height: 45px;

$link: #008eb2;

$text-gray: #424750;

$icon: #687282;

/* PRODUCTS */
$products-card-border: #f0f0f1;
$products-card-shadow: #44444442;