$article-background: #f5f5f5;

$input-background: #f0f0f1;
$input-icon: #c1c1c1;
$input-placeholder: #adadad;
$input-error: #d32f2f;

$login-border: #e0e0e2;

$button-red: #ef4056;
$button-border-radios: 8px;
$button-height: 45px;

$link: #008eb2;

$text-gray: #424750;